body {
    background-color: rgb(29, 29, 29);
}

.display-image {
    max-width: 85%;
    border-radius: 25px;
}

.refresh-btn {
    background-color: #d41414;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.prompt {
    color: rgb(230, 230, 230);
    font-family: 'Optima', sans-serif;
}

.back-btn {
    background-color: #22d3eb;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    top:0;
    left:0;
}

.back-div {
    padding-top: 15px;
    padding-left: 15px;
}