<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Auto Food</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1 style="color: rgb(230, 230, 230); font-family: 'Optima', sans-serif;">HELLO HEADING</h1>
    <form name="getcuisine" action="." method="post">
        <label for="query">Enter Cuisine of Choice</label><br>
        <input type="text" id="query" name="query"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>